/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Sep, 2023, 11:34:51 AM
    Author     : yamini kadimi
*/

body{
    background-color:#fbfff0;
}
label{
    padding:9px;
}
input{
    padding: 7px;
    border-style:solid;
    border-radius: 3px;
    margin:7px;
}
button{
    padding: 6px;
    border-radius: 4px;
    color: #141659;
    background-color: #b5d7a9;
    cursor: pointer;
    font-weight: bold;
}
a{
    text-decoration: none;
    margin:8px;
    font-family:monospace;
    font-size: 16px;
}
.tab{
    border-style: groove;
    background-color: #f8f2d4;
    padding: 0px 6px;;
    margin:20px 350px;
    border-radius: 6px;
}
table,th,td{
    border-style: ridge;
    padding:10px;
    border-collapse: collapse;
    border-color: #3d4639;
    background-color: #f7ebff;
    text-align: center;
    
}